.keyboard {
    background: #ddd;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
}

.keyboard-row {
    background: red;
    display: flex;
    flex-direction: row;
}

.keyboard-key, .keyboard-spacer {
    //background: #333;
    background: #efefef;
    border: 1px solid #bbbbbb;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    //padding: 8px;
}

.keyboard-spacer {
    background: transparent;
    border: none;
}
